defaults: &defaults
  working_directory: ~/work/terminus_plugin
  environment:
    BASH_ENV: ~/.bashrc
    TZ: "/usr/share/zoneinfo/America/Los_Angeles"
    TERM: dumb

version: 2
jobs:
    unit:
        docker:
            - image: quay.io/pantheon-public/terminus-plugin-test:4.x
        <<: *defaults
        steps:
            - checkout
            - run:
                name: Set up environment
                command: ./.circleci/set-up-globals.sh
            - run:
                name: Dependencies
                command: composer install
            - run:
                name: Lint
                command: composer lint
            - run:
                name: Unit
                command: composer unit
    terminus-1:
        docker:
            - image: quay.io/pantheon-public/terminus-plugin-test:2.x
        <<: *defaults
        steps:
            - checkout
            - run:
                name: Set up environment
                command: ./.circleci/set-up-globals.sh
            - run:
                name: Check Terminus version
                command: terminus --version
            - run:
                name: Dependencies
                command: composer install
            - run:
                name: Functional
                command: composer functional
    terminus-2:
        docker:
            - image: quay.io/pantheon-public/terminus-plugin-test:4.x
        <<: *defaults
        steps:
            - checkout
            - run:
                name: Set up environment
                command: ./.circleci/set-up-globals.sh
            - run:
                name: Check Terminus version
                command: terminus --version
            - run:
                name: Dependencies
                command: composer install
            - run:
                name: Functional
                command: composer functional
    code-style:
        docker:
            - image: quay.io/pantheon-public/terminus-plugin-test:4.x
        <<: *defaults
        steps:
            - checkout
            - run:
                name: Set up environment
                command: ./.circleci/set-up-globals.sh
            - run:
                name: Style
                command: composer cs

workflows:
  version: 2
  build_test:
    jobs:
      - unit
      - code-style
      - terminus-1:
          requires:
            - unit
      - terminus-2:
          requires:
            - unit

